
<div class='row'>
  <div class='col-md-12'>
    <% if dev_signed_in? %>
      <%= link_to 'New Log', new_log_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
    <hr/>
  </div>
</div>

<%= form_tag logs_path, class: 'form-inline', method: :get do %>
    <div class='input-group input-group-lg'>
        <% if params[:query].present? %>
            <div class='input-group-btn'>
                <%= link_to "clear", logs_path, class: "btn btn-default" %>
            </div>
        <% end %>
        <%= text_field_tag :query, params[:query], class: 'form-control', id: "log_search", autocomplete: "off" %>
        <div class='input-group-btn'>
            <%= submit_tag "Search", class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>

<div class='row'>
  <div class='col-md-12'>
    <% @logs.reverse.each do |log| %>

      <div class='log-entry'>

	<div class='row'>

	  <div class='title'>
	    <a href='#'>
	      <h2><span class='glyphicon glyphicon-edit'> </span> <%= log.title.capitalize %></h2> <em><%= log.dev.username %></em> <%= log.updated_at %>
	    </a>
	  </div>

	</div>

	<div class='entry-content'>
	  <div class='row'>
	    <div class='col-md-12'><%= markdown(log.entry).html_safe %></div>
	  </div>

	  <div class='row'>
	    <div class='col-md-6'>
	      <% unless log.image_file_name == nil %>
		<%= image_tag log.image.url, class: 'img-sm right' %>
	      <% end %>
	    </div>
	  </div>
	</div>
	
	<div class='row'>
	  <% if log.dev == current_dev %>
	    <div><%= link_to 'Edit', edit_log_path(log), class: 'btn btn-primary right m5' %></div>
	    <div><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary right m5' %></div>
	  <% end %>
	  <div><%= link_to 'Show', log, class: 'btn btn-primary right m5' %></div>
	</div>

      </div>
    <% end %>
  </div>
</div>
<br>

<% if dev_signed_in? %>
  <%= link_to 'New Log', new_log_path, class: 'btn btn-primary' %>
<% end %>
<hr/>


