<div class='row'>
  <div class='col-md-12'>
    <%= link_to 'New Log', new_log_path, class: 'btn btn-primary' %>
    <hr/>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <% @logs.reverse.each do |log| %>
      <div class='log-entry'>

	<div class='row'>
	  <div class='col-md-12 title'>
	    <h2><%= markdown(log.title).html_safe %></h2>
	    <hr/>
	  </div>
	</div>

	<div class='entry-content'>
	  <div class='row'>
	    <div class='col-md-12'><%= markdown(log.entry).html_safe %></div>
	  </div>

	  <div class='row'>
	    <div class='col-md-6'>
	      <% unless log.image_file_name == nil %>
		<%= image_tag log.image.url, class: 'img-sm right' %>
	      <% end %>
	    </div>
	  </div>
	</div>
	
	<div class='row'>
	  <div><%= link_to 'Show', log, class: 'btn btn-primary right m5' %></div>
	  <div><%= link_to 'Edit', edit_log_path(log), class: 'btn btn-primary right m5' %></div>
	  <div><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary right m5' %></div>
	</div>

      </div>
    <% end %>
  </div>
</div>
<br>


  <%= link_to 'New Log', new_log_path, class: 'btn btn-primary' %>
  <hr/>


