<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @log.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @log.image.url %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @log.entry %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
